@import url(./gloabal.css);

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  
}

.text {
    padding-top: 32px;
    display: block;
}

.content h1 {
    font-size: 175px;
    margin-left: 10%;
    margin-top: 5%;
}

.text p {
    margin-top: 32px;
    font-size: 20px;
}

.img img {
    margin-top: 32px;
    border-radius: 40px;
}